<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>
    <div class="title">TARANGA</div>
    <p>
      Welcome to Taranga.<br>
    	Login or Signup to sing your favourite music.
    </p>
    <div class="button">
      <button type="submit"><a href="/login">Already have an account?</a></button>
      <button type="submit"><a href="/signup">SignUp to go further?</a></button>
    </div>
  </body>
</html>
