<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<div class="title">Reconnect from where you left.</div>
	<div class="login">
		<form method="post" action="/login">
			<p>Username: <input type="text" name="username" id="nameInput"><br/>
			Password: <input type="password" name="password" id="passwordInput"><br/></p>
			<div class="button">
				<button type="submit">Login</button>
				<button type="submit"><a href="/signup">don't have an account</a></button>
			</div>
		</form>

	</div>
</body>
</html>
