<!DOCTYPE html>
<html>
<head>
	<title> signup </title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<div class="title">Thankyou for choosing us</div>
	<div class="signup">
		<form method="post" action="/signup">
			<p>
			  Full-Name:<input type="text" name="fullname"><br><br>
			  Username:<input type="text" name="username" id="nameInput"> <br/><br>
			  Date of Birth:<input type="Date" name="dob"><br><br>
			  Password:<input type="password" name="password" id="passwordInput"> <br/><br>
			  Confirm-Password:<input type="password" name="confirmPassword" id="confirmPassword"><br><br>
			  <div class="button">
			  <button type="submit"><a href="/home">SignUp</a></button>
			  </div> </br><br>
		  </p>
	  </form>
  </div>
</body>
</html>